.texturePicker{
    padding: 1em 0em 0em 0em;
}

.selectedTexture{
    margin: auto;
    width: 400px;
    height: 400px;
    border-bottom: 1px black solid;
    margin-bottom: 0.5em;
}

.selectedTexture > img{
    width: 400px;
    height: 400px;
}